<div class="details-container">
  <h1>Party Details</h1>
  <form [formGroup]="partyDetailsForm">
    <div class="details">
      <div class="form-elements">
        <mat-form-field class="adjust-width">
          <mat-label>Name:</mat-label>
          <input matInput formControlName="name" type="text" />
        </mat-form-field>
      </div>
      <div class="form-elements">
        <mat-form-field class="adjust-width">
          <mat-label>Company Name:</mat-label>
          <input matInput required formControlName="company_name" type="text" />
        </mat-form-field>
      </div>
      <div class="form-elements">
        <mat-form-field class="adjust-width">
          <mat-label>Mobile No:</mat-label>
          <input
            matInput
            required
            formControlName="mobile_no"
            minlength="10"
            maxlength="10"
          />
        </mat-form-field>
      </div>
      <div class="form-elements">
        <mat-form-field class="adjust-width">
          <mat-label>Telephone No:</mat-label>
          <input
            matInput
            formControlName="telephone_no"
            minlength="10"
            maxlength="10"
          />
        </mat-form-field>
      </div>
      <div class="form-elements">
        <mat-form-field class="adjust-width">
          <mat-label>Whatsapp No:</mat-label>
          <input
            matInput
            formControlName="whatsapp_no"
            minlength="10"
            maxlength="10"
          />
        </mat-form-field>
      </div>
      <div class="form-elements">
        <mat-form-field class="adjust-width">
          <mat-label>Email:</mat-label>
          <input matInput required formControlName="email" type="text" />
        </mat-form-field>
      </div>
      <div class="form-elements">
        <mat-form-field class="adjust-width">
          <mat-label>Date of Birth</mat-label>
          <input
            formControlName="date_of_birth"
            matInput
            [matDatepicker]="dob_picker"
            (dateInput)="onDateInput($event, 'date_of_birth')"
          />
          <mat-datepicker-toggle matSuffix [for]="dob_picker">
          </mat-datepicker-toggle>
          <mat-datepicker #dob_picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-elements">
        <mat-form-field class="adjust-width">
          <mat-label>Anniversary Date:</mat-label>
          <input
            formControlName="anniversary_date"
            matInput
            [matDatepicker]="anni_picker"
            (dateInput)="onDateInput($event, 'anniversary_date')"
          />
          <mat-datepicker-toggle matSuffix [for]="anni_picker">
          </mat-datepicker-toggle>
          <mat-datepicker #anni_picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-elements">
        <mat-form-field class="adjust-width">
          <mat-label>Gstin:</mat-label>
          <input matInput formControlName="gstin" type="text" />
        </mat-form-field>
      </div>
      <div class="form-elements">
        <mat-form-field class="adjust-width">
          <mat-label>Pan No:</mat-label>
          <input matInput formControlName="pan_no" type="text" />
        </mat-form-field>
      </div>
      <div class="form-elements">
        <mat-form-field class="adjust-width">
          <mat-label>Credit Limit:</mat-label>
          <input
            matInput
            required
            formControlName="credit_limit"
            minlength="10"
            maxlength="10"
          />
        </mat-form-field>
      </div>
      <div class="form-elements">
        <mat-form-field class="adjust-width">
          <mat-label>Remark:</mat-label>
          <input matInput formControlName="remark" type="text" />
        </mat-form-field>
      </div>
      <div class="form-elements">
        <div class="checkboxes">
          <mat-checkbox required>Apply TDS</mat-checkbox>
        </div>
      </div>
      <div class="form-elements">
        <div class="checkboxes">
          <mat-checkbox required>Active</mat-checkbox>
        </div>
      </div>
      <div class="form-elements">
        <div class="checkboxes">
          <mat-checkbox required>Login Access</mat-checkbox>
        </div>
      </div>
    </div>
    <h2>User Details</h2>
    <div class="details" formGroupName="userid">
      <div class="form-elements">
        <mat-form-field class="adjust-width">
          <mat-label>User Name:</mat-label>
          <input matInput formControlName="username" type="text" />
        </mat-form-field>
      </div>
      <div class="form-elements">
        <mat-form-field class="adjust-width">
          <mat-label>Phone No:</mat-label>
          <input
            matInput
            formControlName="phone_number"
            minlength="10"
            maxlength="10"
          />
        </mat-form-field>
      </div>
    </div>
    <h2>Bank Details</h2>
    <div>
      <button
        class="buttons"
        type="button"
        color="primary"
        mat-raised-button
        (click)="addBankDetails()"
      >
        Add Bank Details
      </button>
    </div>
    <ng-container
      *ngFor="let bankDetails of bankArray?.controls; let i = index"
    >
      <div formArrayName="bank">
        <div [formGroupName]="i">
          <div class="details">
            <div class="form-elements">
              <mat-form-field class="adjust-width">
                <mat-label>Pan No:</mat-label>
                <input
                  matInput
                  required
                  formControlName="bank_ifsc_code"
                  type="text"
                />
              </mat-form-field>
            </div>
            <div class="form-elements">
              <mat-form-field class="adjust-width">
                <mat-label>Bank Name:</mat-label>
                <input
                  matInput
                  required
                  formControlName="bank_name"
                  type="text"
                />
              </mat-form-field>
            </div>
            <div class="form-elements">
              <mat-form-field class="adjust-width">
                <mat-label>Branch Name:</mat-label>
                <input
                  matInput
                  required
                  formControlName="branch_name"
                  type="text"
                />
              </mat-form-field>
            </div>
            <div class="form-elements">
              <mat-form-field class="adjust-width">
                <mat-label>Account No:</mat-label>
                <input
                  matInput
                  required
                  formControlName="account_no"
                  type="text"
                />
              </mat-form-field>
            </div>
            <div class="form-elements">
              <mat-form-field class="adjust-width">
                <mat-label>Account holder Name:</mat-label>
                <input
                  matInput
                  required
                  formControlName="account_holder_name"
                  type="text"
                />
              </mat-form-field>
            </div>
            <div class="form-elements">
              <button
                class="buttons"
                type="button"
                color="warn"
                mat-raised-button
                (click)="deleteBankDetails(i)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </ng-container>

    <h2>Address Details</h2>
    <div>
      <button
        class="buttons"
        type="button"
        color="primary"
        mat-raised-button
        (click)="addAddressDetails()"
      >
        Add Address Details
      </button>
    </div>
    <ng-container
      *ngFor="let addressDetail of addressArray?.controls; let i = index"
    >
      <div formArrayName="address">
        <div [formGroupName]="i">
          <div class="details">
            <div class="form-elements">
              <mat-form-field class="adjust-width">
                <mat-label>Address Line 1:</mat-label>
                <input
                  matInput
                  required
                  formControlName="address_line_1"
                  type="text"
                />
              </mat-form-field>
            </div>
            <div class="form-elements">
              <mat-form-field class="adjust-width">
                <mat-label>Address Line 2:</mat-label>
                <input
                  matInput
                  required
                  formControlName="address_line_2"
                  type="text"
                />
              </mat-form-field>
            </div>
            <div class="form-elements">
              <mat-form-field class="adjust-width">
                <mat-label>Country:</mat-label>
                <input
                  matInput
                  required
                  formControlName="country"
                  type="text"
                />
              </mat-form-field>
            </div>
            <div class="form-elements">
              <mat-form-field class="adjust-width">
                <mat-label>State:</mat-label>
                <input matInput required formControlName="state" type="text" />
              </mat-form-field>
            </div>
            <div class="form-elements">
              <mat-form-field class="adjust-width">
                <mat-label>City:</mat-label>
                <input matInput required formControlName="city" type="text" />
              </mat-form-field>
            </div>
            <div class="form-elements">
              <mat-form-field class="adjust-width">
                <mat-label>Pincode:</mat-label>
                <input
                  matInput
                  required
                  formControlName="pincode"
                  type="text"
                />
              </mat-form-field>
            </div>
            <div class="form-elements">
              <button
                class="buttons"
                type="button"
                color="warn"
                mat-raised-button
                (click)="deleteAddressDetails(i)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </ng-container>
  </form>
  <div>
    <button
      class="buttons"
      type="button"
      color="accent"
      mat-raised-button
      (click)="submitParty()"
      [disabled]="partyDetailsForm.invalid"
    >
      Submit
    </button>
    <button
      class="buttons"
      type="button"
      color="primary"
      mat-raised-button
      (click)="back()"
    >
      Back
    </button>
  </div>
</div>
